* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin-top: 5rem; */
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.leftContent {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  background-color: hsla(254, 34%, 12%, 0.973);
  justify-content: center;
}
.title {
  color: aliceblue;
  text-align: center;
  font-size: 3.8rem;
  padding-bottom: 1rem;
}
.mainContent {
  grid-column: 6/-1;
  display: flex;
  justify-content: flex-start;
  padding-top: 20%;
  margin: 0 5rem;
  min-height: 25vh;
  width: 100%;
}

.leftimg {
  display: flex;
  justify-content: center;
}
.leftimg > img {
  /* width: 20rem; */
  height: 39rem;
}

/* form */

.form {
  font-size: 1.7rem;
  justify-content: center;
  padding: 0.8rem;
  width: 100%;
}

.todo-input {
  padding: 1rem;
  font-size: 1rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  transition: background-color 200ms ease-in-out;
  width: 50%;
}
